@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-base-100 {
  background-color: #ffffff; 
}

.dark .bg-base-100 {
  background-color: #0a0e21; 
}
.dark .text-primary {
  color: #f3f4f6; 
}

.bg-base-100 .text-sm {
  @apply text-base-content;
}

.text-base-content {
  @apply text-black dark:text-white;
}


@layer components {
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; /* Correspond à mb-4 */
  }

  .tab-custom {
    @apply text-base-content border-b-2;
    border-color: transparent;
    padding: 0.5rem 1rem; /* Ajustez selon besoin */
  }

  .tab-custom-active {
    @apply border-sky-500;
  }

  .dark .tab-custom {
    @apply text-base-content;
  }
}